name: MF CI Build

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

permissions:
  contents: read
  packages: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: npm

      - name: Install deps
        run: npm ci

      - name: Build project
        run: npm run build

      - name: Verify MF remoteEntry
        run: ls dist/remoteEntry.js

      - name: Build Docker image
        run: docker build -t mf-app1:${{ github.sha }} .

      - name: Login to GHCR
        run: echo "${{ secrets.GITHUB_TOKEN }}" | docker login ghcr.io -u ${{ github.actor }} --password-stdin

      - name: Push image
        run: |
          docker tag mf-app1:${{ github.sha }} ghcr.io/${{ github.actor }}/mf-app1:${{ github.sha }}
          docker push ghcr.io/${{ github.actor }}/mf-app1:${{ github.sha }}
